/* fonts: trade gothic, roboto, roboto condensed */
/* colors, black #000000, grey #202020, text white#ffffff blue#00a3e7*/
/*
body {
  background-color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 19px;
  line-height: 32px;
  padding: 50px 100px;
  font-weight: 300;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .image {
    width: 100px;
  }
}

.container {
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 25px auto;
}

.card {
background-color: #202020;
border-radius: 3px;
margin: 20px;
padding: 30px;
}

h1, h2 {
  color: #ffffff;
  margin: 20px;
}

a {
  color: #00A3E7;
  text-decoration: underline;
}

a:hover {
  color: #C20013;
}

ul > li {
  display: inline-block;
  padding: 0px 20px;
}

.image {
  border-radius: 25px;
}

.card.intro {
  min-height: 400px;
}

.intro-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* -------------------- */
/* @property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --magic-height: 65vh;
  --magic-width: calc(var(--magic-height) / 1.5);
}


body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.magic {
  float: left;
  padding: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 25px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  animation: spin 2.5s linear infinite;
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
} */

/* Global */
.home {
  margin-right: 40px;
  margin-left: 40px;
  background-color: #111215;
  outline-color: #f2f7fc;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #f2f7fc;
}

body {
  background-color: #111215;
  font-family: Poppins, sans-serif;
  color: #f2f7fc;
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Pirata One', sans-serif;
  font-size: 140px;
  line-height: 140px;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Pirata One', sans-serif;
  font-size: 66px;
  line-height: 80px;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:link {
  color: #f2f7fc;
}

a:visited {
  color: #f2f7fc;
}

a:hover {
  color: #368ef3;
}

a svg path {
  fill: currentColor;
}

/* end of global settings */

/*------------------- navbar ----------------------------------*/
.navbar {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-weight: 400;
}

.brand {
  flex: 1;
}

.logo.resume {
  color: #f2f7fc;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 32px;
}

.nav-menu {
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #f2f7fc;
  background-color: #f2f7fc;
  color: #111215;
}

.nav-menu.dark {
  background-color: #111215;
}

.nav-link {
  margin: 10px;
  padding: 10px;
  color: #f2f7fc;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.nav-link.cta {
  padding: 8px 16px;
  border-style: solid;
  border-width: 4px;
  border-color: #f2f7fc;
  border-radius: 2px;
  line-height: 2;
}

.nav-link.cta:hover {
  background-color: #f2f7fc;
  color: #111215;
  border-color: #111215;
}

/* .nav-link.cta:active {
  margin-top: 12px;
  margin-right: 8px;
  background-color: #234d7c;
  color: #f2f7fc;
} */

.nav-link.cta:visited {
  color: #f2f7fc;
}

.nav-link.cta:visited:hover {
  color: #111215;
}

/*---------------- end of narbar -------------------------*/

/*---------------- short intro ---------------------------*/
.section.hero {
  margin-top: 10vh;
  margin-bottom: 4vh;
  padding-top: 6vh;
  padding-bottom: 33vh;
  padding-left: 16px;
}

/* acts as spacer for absolute position */
.section {
  padding-bottom: 33vh;
}

.container {
  max-width: 100vw;
}

.name-block {
  display: flex;
  margin-bottom: -2px;
  margin-left: -25px;
  padding-bottom: 0px;
  padding-left: 0px;
  align-items: flex-start;
}

.name {
  margin-bottom: 20px;
  margin-left: 20px;
  align-self: flex-end;
  flex: 0 auto;
}

.name-span {
  line-height: 1;
  font-size: 80px;
}

.pronouns {
  margin-bottom: 11px;
  margin-left: 16px;
  align-self: flex-end;
  font-family: 'Pirata One', sans-serif;
  color: #368ef3;
  font-size: 40px;
  line-height: 102px;
  font-weight: 400;
}

.pronouns-span {
  color: #368ef3;
}

.hero-subheader {
  max-width: 33ch;
  margin-top: 0px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.text-span-3 {
  color: #f2f7fc;
  font-size: 27px;
}

/* end of short intro */

/* ----------------------------------------------------------------------- */
/* start of portfolio section */
.Portfolio {
  position: relative;
}

/* start bg photo */
/* .hex-vector {
  width: 75%;
  z-index: -1;
  object-fit: fill;
}

.hex {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0px;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
} */

/* end of bg photo */
/* -------------------------------------------------------------------- */

.container.cs {
  flex: 1;
  padding-left: 0px;
  /* position: absolute; */
  top: 150px;
  /* left: 50px; */
  /* z-index: 1; */
}

.ig-grid {
  background-color: transparent;
}

.collection-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-style: none;
  border-width: 2px;
  border-color: #f2f7fc;
  justify-content: center;
}

.collection-item {
  border-style: solid;
  border-width: 4px;
  border-color: #f2f7fc;
  border-radius: 2px;
  display: flex;
  /* min-width: 450px;
  max-width: 650px; */
  width: 30%;
}
/* color: #111215; */
.collection-item:hover {
  left: -4px;
  top: -4px;
  box-shadow: 6px 6px 0 2px #368ef3;
  transform: translate(-4px, -4px);
}

.portfolio-card {
  border-style: none;
  border-width: 4px;
  border-radius: 0px;
  color: #f2f7fc;
  text-decoration: none;
  position: relative;
}

.portfolio-card-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6%;
}

.project-image {
  max-width: 90%;
  align-self: center;
  aspect-ratio: 16 / 9;
  object-fit: fill;
}

.project-title {
  padding: 6%;
  font-size: 32px;
}

.project-description-group {
  color: #368ef3;
  font-size: 18px;
  line-height: 1.2;
}

.portfolio-card-content {
  padding: 6%;
  border-top: 4px solid #f2f7fc;
  padding-bottom: 50px;
  /* height: 100%; */
}

.project-description {
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.2;
}

.box-title {
  font-size: 20px;
  text-decoration: none;
}

.project-tech-stack {
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1.2;
}

.portfolio-card-bottom {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 95%;
}

.portfolio-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

.portfolio-logo {
  fill: #f2f7fc;
  max-height: 25px;
  width: auto;
  margin: 0px;
  padding: 0px;
  margin-right: 5px;
}

/* ----------footer---------- */

/* .email-logo {
  fill: #f2f7fc;
  max-width: 50px;
}

.github-logo {
  fill: #f2f7fc;
  max-width: 50px;
}

.linkedin-logo {
  fill: #f2f7fc;
  max-width: 50px;
} */
.follow-along h2 {
  margin: 0px;
}

.follow-along p {
  margin: 0px;
  margin-bottom: 25px;
}

.footer-logo {
  fill: #f2f7fc;
  max-width: 50px;
  height: auto;
  margin: 0px;
  padding: 0px;
}

/* .footer-text-link {
  margin: 0px;
  padding: 0px;
} */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  height: 50px;
  width: 50px;
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #f2f7fc;
  border-radius: 2px;
}

.social-link:hover {
  padding: 25px;
  border-color: #368ef3;
}

.social-link.linkedin:hover svg path {
  fill: #0A66C1;
}

.back-to-top {
  position: relative;
  float: right;
  height: 30px;
  width: 30px;
  bottom: 20px;
  right: 20px;
  padding: 8px 8px;
  border-style: solid;
  border-width: 4px;
  border-color: #f2f7fc;
  border-radius: 2px;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.return-icon {
  fill: #f2f7fc;
  max-width: 40%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.return-text{
  color: currentColor;
  font-size: 80%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright {
  text-align: center;
}


/* @media only screen (orientation:portrait) { */
  @media only screen and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    body {
      width: 80%;
      overflow-x: hidden;
    }

    .home {
      margin-right: auto;
      margin-left: auto;
    }

    .logo.resume {
      font-size: 20px;
    }

    .name-block {
      flex-direction: column;
    }

    .name-span {
      line-height: 0.1;
      font-size: 60px;
    }
    .collection-list {
      flex-direction: column;
    }

    .section {
      padding-bottom: 50vh;
    }

    .social-link {
      margin: 10px;
    }

    .follow-along {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    .collection-item {
      width: 90%;
    }
  }


/* .footer {
  position:absolute;
} */

/* .container.form-container {
  display: block;
  height: 390px;
  margin: 78px auto 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
} */
/*


.social-link:hover {
  padding: 24px;
}

.social-link:active {
  background-color: #234d7c;
}

.social-link.social-outline {
  border-color: #111215;
}

.social-link-image {
  color: #111215;
} */
